.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

footer.space--sm, section.space--sm {
    padding-bottom: 1em;
}

.customBtn {
  font-size: 14px;
  height: 40px;
  width: 60px;
}

.cursorTxt {
  cursor: pointer;
  cursor: hand;
}

.cursorIcon {
  cursor: pointer;
  cursor: hand;
}

.cursorTxt:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  font-weight: bold;
}

.cursorIcon:hover {
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}

.ReactModal__Overlay {
    z-index: 1000;
}

.login-container {
  text-align: center;
  width: 35em;
}

.signup-container {
  text-align: center;
  width: 35em;
}

.profile-container {
  text-align: center;
  width: 35em;
}

.profile-info-container {
  text-align: left;
}

.profile-img {
  width: 200px;
  height: 200px;
}
